<aside class="p-3 text-bg-dark">
	<a href="/"
		class="d-flex align-items-center mb-3 mb-md-0 link-dark text-decoration-none">
		<h1 class="text-white">EzFrame</h1>
	</a>
	<hr />
	<ul id="list_menu" class="list-unstyled ps-0"></ul>
</aside>
{% verbatim %}
<script type="text/x-template" id="twig_template_menu">
	{% macro menu_html(menus, path, editmode) %}
		{% for name, menu in menus %}
			{% set fullPath = path ? path ~ '.' ~ name : name %}
			<li class="mb-1">
				<div class="d-flex align-content-stretch flex-nowrap">
					<div class="d-flex flex-grow-1 flex-nowrap">
						{% if menu.items ?? false %}
							<button class="btn btn-toggle border-0 align-middle"
								data-bs-toggle="collapse"
								data-bs-target="#menu_{{ fullPath|replace('.', '_') }}_collapse"
								aria-expanded="true">
								<i class="fass fa-angle-right"></i>
							</button>
						{% endif %}
						<a href="javascript:void(0);"
							class="menu-entry d-inline-flex flex-nowrap text-decoration-none text-white rounded align-middle p-1"
							data-name="{{ name }}"
							data-path="{{ path }}"
							data-full-path="{{ fullPath }}">
							{{ menu.title }}
						</a>
					</div>
					{% if editmode ?? false %}
						<div class="btn-group" role="group">
							<button class="button-edit-menu-item btn btn-dark btn-sm"
								data-full-path="{{ fullPath }}"
								title="Modifier">
								<i class="fass fa-pen-to-square"></i>
							</button>
							<button class="button-delete-menu-item btn btn-dark btn-sm"
								data-full-path="{{ fullPath }}"
								title="Supprimer">
								<i class="fass fa-trash"></i>
							</button>
							<button class="button-move-menu-item btn btn-dark btn-sm"
								data-direction="up"
								data-full-path="{{ fullPath }}"
								title="Décaler vers le haut">
								<i class="fass fa-arrow-up"></i>
							</button>
							<button class="button-move-menu-item btn btn-dark btn-sm"
								data-direction="down"
								data-full-path="{{ fullPath }}"
								title="Décaler vers le bas">
								<i class="fass fa-arrow-down"></i>
							</button>
						</div>
					{% endif %}
				</div>
				{% if menu.items ?? false %}
					<div class="collapse show ps-1"
						id="menu_{{ fullPath|replace('.', '_') }}_collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal small ps-4">
							{{ macros.menu_html(menu.items, fullPath, editmode ?? false) }}
						</ul>
					</div>
				{% elseif editmode %}
					<div class="collapse show ps-1"
						id="menu_{{ fullPath|replace('.', '_') }}_collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal small ps-4">
							<li class="mb-1">
								<button class="button-add-menu-item btn btn-dark btn-sm"
									data-path="{{ fullPath }}">
									<i class="fass fa-plus ml-2"></i>
									<span>Ajouter un menu</span>
								</button>
							</li>
						</ul>
					</div>
				{% endif %}
			</li>
		{% endfor %}
		{% if editmode ?? false %}
			<li class="mb-1">
				<button class="button-add-menu-item btn btn-dark btn-sm"
					data-path="{{ path }}">
					<i class="fass fa-plus ml-2"></i>
					<span>Ajouter un menu</span>
				</button>
			</li>
		{% endif %}
	{% endmacro %}
	{% import _self as macros %}
	{{ macros.menu_html(menus ?? [], path ?? '', editmode ?? false) }}
</script>
{% endverbatim %}
